body{
    background-color: black;
    overflow: hidden;
    cursor: none;
}

.text{
    color: green;
    font-size: 18px;
    font-style: bold;
    position: absolute;
    text-orientation: upright;
    writing-mode: vertical-rl;
    text-shadow: 0 0 5px #47FF41;
    background: -webkit-linear-gradient(#000, #47FF41, #fff);
    white-space: nowrap;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}